alias b=bash
alias g=git
alias h=history
alias j=jobs
alias dr=docker
alias drnoverify="dr --tlsverify=false"
alias drm=docker-machine
alias drc=docker-compose
alias x=exit

#Navigation
alias ls="ls --color=auto"
alias l.="ls -dF .*"
alias la="ls -aF"
alias ll="ls -lF"
alias lld="ll | grep --color=never '^d'"
alias ..="cd .."
alias cdd="cd \$DEVELOPMENT_HOME"
alias cdjboss="cd \$JBOSS_HOME"

#Development
alias deploywar="cp target/*.war \$JBOSS_HOME/standalone/deployments"
alias grunt="grunt --stack"
alias npmupdate="npm -g update"

#File handling
alias grep='grep --color=auto'
alias vi=vim

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'
