alias c=clear
alias b=bash
alias h=history
alias x=exit

### Environment ###
alias cddotfiles="cd \$(dirname \$(readlink ~/.bash_profile))"
alias stbashextra="st ~/.bash_extra"

### Docker ###
alias dr=docker
alias drnoverify="dr --tlsverify=false"
alias drm=docker-machine
alias drc=docker-compose
alias drrun="dr run -v /docker-share:/docker-share --entrypoint=/bin/bash -ti"
alias drrunbash="drrun --entrypoint=bash -ti"
alias drrmallcontainers="dr rm -f \$(dr ps -q -a)"
alias drrmiallimages="drrmallcontainers; dr rmi -f \$(dr images -a -q)"
alias drmcreate='drm create -d virtualbox --virtualbox-memory "4000" --virtualbox-disk-size "50000"'
alias drmmount='drm ssh def "sudo umount -t /docker-share; sudo rm -rf /docker-share; sudo mkdir /docker-share; sudo mount -t vboxsf docker-share /docker-share"'
alias drstats="docker stats \$(docker ps | awk '{print $NF}' | grep -v NAMES)"
alias draddsshkey='public_key=$(cat ~/.ssh/id_rsa.pub) && drm ssh def "echo $public_key >> .ssh/authorized_keys"'
alias sshdockerhost="ssh docker@dockerhost"

### Navigation ###
alias cdd="cd \$DEVELOPMENT_HOME"
alias cddl="cd && cd Downloads"
alias cddesktop="cd && cd Desktop"
alias cdjboss="cd \$JBOSS_HOME"
alias cdm2="cd ~/.m2"
alias ls="ls --color=auto --group-directories-first"
alias l.="ls -dF .*"
alias la="ls -aF"
alias ll="ls -lF"
alias lla="ll -a"
alias lld="ll | grep '^d'"
alias ..="cd .."

### Development ###
alias deploywar="cp target/*.war \$JBOSS_HOME/standalone/deployments"
alias grunt="grunt --stack"
alias hglog="hg log | less"
alias hgst="hg st -q"
alias hgpu="hg pull -u"
alias hgrebase="hg pull && hg shelve; hg update && hg unshelve"
alias jbossclean="pushd . && cdjboss && cd standalone && rm -rf log tmp data deployments/* && popd"
alias jbosslog="cdjboss && less +F standalone/log/server.log"
alias m="mvn clean install -Dmaven.javadoc.skip=true -DdeployCheckSkip=true"
alias mst="m -Dmaven.test.skip=true"
alias mts=mst
alias mvnversionupdate="mvn versions:update-properties"
alias npmupdate="npm -g update"
alias startjboss="cdjboss && ./bin/standalone.sh -c standalone.xml"
alias stopjboss="\$JBOSS_HOME/bin/jboss-cli.sh --connect command=:shutdown"


### File handling ###
alias grep='grep --color=auto'
alias vi=vim
alias diffexclude='diff -r --exclude=".hg" --exclude="*.iml" --exclude="target" --exclude="*.orig" --exclude=".idea"'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'
